<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elangzhi.base.dao.UserBookMapper" >
  <resultMap id="BaseResultMap" type="com.elangzhi.base.model.UserBook" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="book_id" property="bookId" jdbcType="BIGINT" />
    <result column="progress" property="progress" jdbcType="DECIMAL" />
    <result column="set_time" property="setTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, book_id, progress, set_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user_book
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user_book
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.elangzhi.base.model.UserBook" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_book (id, account_id, book_id, 
      progress, set_time)
    values (#{id,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{bookId,jdbcType=BIGINT}, 
      #{progress,jdbcType=DECIMAL}, #{setTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.elangzhi.base.model.UserBook" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="progress != null" >
        progress,
      </if>
      <if test="setTime != null" >
        set_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=BIGINT},
      </if>
      <if test="progress != null" >
        #{progress,jdbcType=DECIMAL},
      </if>
      <if test="setTime != null" >
        #{setTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elangzhi.base.model.UserBook" >
    update t_user_book
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=BIGINT},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=DECIMAL},
      </if>
      <if test="setTime != null" >
        set_time = #{setTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elangzhi.base.model.UserBook" >
    update t_user_book
    set account_id = #{accountId,jdbcType=BIGINT},
      book_id = #{bookId,jdbcType=BIGINT},
      progress = #{progress,jdbcType=DECIMAL},
      set_time = #{setTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>